/data/
/nbproject/
/target/
/test/
/docs/uml-booml-gissoonlp
nbactions.xml
nb-configuration.xml
hs_err_pid25534.log
.goutputstream-VOVNB0

/docs/proposal/indexes/others-in-one/others-in-one.aux
/docs/proposal/indexes/others-in-one/others-in-one.bbl
/docs/proposal/indexes/others-in-one/others-in-one.blg
/docs/proposal/indexes/others-in-one/others-in-one.log
/docs/proposal/indexes/others-in-one/others-in-one.synctex.gz

/docs/proposal/indexes/nostalgia/nostalgia.aux
/docs/proposal/indexes/nostalgia/nostalgia.bbl
/docs/proposal/indexes/nostalgia/nostalgia.blg
/docs/proposal/indexes/nostalgia/nostalgia.log
/docs/proposal/indexes/nostalgia/nostalgia.synctex.gz

/docs/proposal/literary.aux
/docs/proposal/literary.bbl
/docs/proposal/literary.blg
/docs/proposal/literary.log
/docs/proposal/literary.synctex.gz